@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

         #container {
            max-width: 1800px;
            margin: auto;
        }

        body {
            font-family: "Space Grotesk";
            margin: auto;
            font-size: 20px;
        } 

        div.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 30px;
        }

        div.menu_container {
            display: flex;
            gap: 40px;
            align-items: center;
        }

        button.request {
            background-color: white;
            border: 1px solid #191A23;
            padding: 20px 35px;
            border-radius: 14px;
            font-size: 20px;
        }

        div.menubutton {
            display: flex;
            flex-direction: column;
        }

        div.hamburgermenu {
            width: 23px;
            height: 3px;
            background-color: #191A23;
            margin: 2px 0;
        }

        div.subheader {
            display: flex;
            align-items: center;
            gap: 30px;
            margin: 50px 30px;
        }

        h3 {
            font-size: 30px;
            font-weight: 500;
            background-color: #B9FF66;
            padding: 7px;
            border-radius: 8px;
        }

        p.subcontent {
            font-size: 18px;
            width: 40%;
        }

        div.case_study {
            display: flex;
            justify-content: space-evenly;
            background-color: #191A23;
            color: white;
            border-radius: 40px;
            padding: 30px;
            margin: auto 30px;
            font-size: 18px;
            line-height: 1.5;
        }

        div.cscontent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            width: 25%;
        }

        div.greenlearn {
            display: flex;
            gap: 15px;
            color: #B9FF66;
        }

        div.border {
            display: flex;
            border-right: 1px solid white;
            height: 150px;
        }

        div.bggreen {
            background-color: #B9FF66;
        }

        div.bggrey {
            background-color: #F3F3F3;
        }

        span.wpnum {
            font-size: 40px;
        }

        div.wphead {
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: 500;
            gap: 10px;
        }

        div.wp_title {
            display: flex;
           justify-content: space-between;
           align-items: center;
        }

        div.bottom_border {
            border-bottom: 1px solid #191A23;
            width: 100%;
            margin: 20px 0px;
        }

        div.wpcontent {
            border: 1px solid #191A23;
            border-radius: 20px;
            box-shadow: 0px 5px #000000;
            padding: 30px;
            font-size: 18px;
        }

           div.work_process {
            display: flex;
            flex-direction: column;
            margin: 0px 30px;
            gap: 30px;
        }

        button.team {
            color: white;
            background-color: #191A23;
            font-size: 20px;
            padding: 20px 60px;
            border-radius: 14px;
            margin: 20px 0px;
        }

        div.teambutton {
            display: flex;
            justify-content: right;
            margin-right: 30px;
        }


    @media screen and (max-width: 1536px) {
            div.menubutton {
                display: none;
            }

            .plusicon {
                display: none;
            }
            
        }

    @media screen and (max-width: 1080px) {
            body {
                font-size: 18px;} 

            div.menu_container {
                gap: 20px;
            }
                
            h1 {
                font-size: 30px;
            }
            
            img.logo {
                width: 24px;
                height: 24px;
            }

            button.request {
                font-size: 18px;
                padding: 12px 18px;
                border-radius: 7px;
            }

            p.subcontent {
                width: 60%;
            }

            h3 {
                font-size: 25px;
            }

             div.border {
                display: none;
            }

            div.case_study {
                background-color: transparent;
                padding: 0px;
                margin: 0px;
            }

            div.cscontent {
                background-color: #191A23;
                border-radius: 40px;
                padding: 30px;
                width: calc(
                    33% - 10px
                );
            }

            div.wpcontent {
                background-color: #F3F3F3;
            }

            .minusicon {
                display: none;
            }

            .plusicon {
                display: block;
            }

            div.bottom_border {
                display: none;
            }

            div.wppara {
                display: none; 
            }

            div.wphead {
                font-size: 20px;
            }

            span.wpnum {
                font-size: 35px;
            }


        }

    @media screen and (max-width: 840px) {
            div.menubutton {
                display: block;
            }

            div.menu_container {
                display: none;
                }
            
            div.subheader {
                flex-direction: column;
                text-align: center;
            }

            p.subcontent {
                width: 100%;
            }

            div.case_study {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }

            div.cscontent {
                width: calc(
                    90% - 10px
                );
            }

            div.wpcontent {
                border-radius: 80px;
            }

            div.wphead {
                font-size: 18px;
            }

            span.wpnum {
                font-size: 30px;
            }


        }