@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #container {
            max-width: 1800px;
            margin: auto;
        }

        /* === ROOT VARIABLES === */
    :root {
        --font-family: 'Domine', serif;
        --background-color: #F5F5DC;
        --border-radius: 8px;
        --text-align: center;
        --color-link: #008000;
}

    body {
        font-family: var(--font-family);
        background-color: var(--background-color);
    }

    h1 {
        font-size: 40px;
        margin: 20px 0;
        text-align: var(--text-align);
    }

    p {
       text-align: var(--text-align);
       margin-bottom: 20px; 
    }

    div.desserts {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 30px;
        gap: 20px;
        
    }

    div.imgdessert {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(33.33% - 13.33px);
        
    }

    img {
        border-radius: var(--border-radius);
    }

    h2 {
        margin: 20px 0px;
        font-size: 18px;
        text-align: var(--text-align);
    }

    a {
        color: var(--color-link);
        text-decoration: none;
    }

    div.relative {
        position: relative;
        bottom: 80px;
        border-radius: var(--border-radius);
        background-color: #F5F5F5;
        box-shadow: 5px 8px 5px #d4d1d1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 20px;
        margin: auto;
    }

     @media screen and (max-width: 1080px) {
        div.imgdessert {
            width: calc(50% - 10px);
        }
     }

      @media screen and (max-width: 840px) {
        div.imgdessert {
            width: 100%;
        }
      }






