@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
	--font-heading: "Domine", sans-serif;
	--font-base: "Inter", sans-serif;
	--font-default-size: 18px;
	--color-logo: #BC4B20;
	--color-link: #BC4B20;
	--color-text-primary: #000000;
	--color-text-secondary: #FFFFFF;
	--color-text-hover: #BC4B20;
	--color-menu-active: #BC4B20;
	--color-btn-bg-primary: #BC4B20;
	--color-btn-bg-secondary: #FFFFFF;
	--color-btn-bg-tertiary: #000000;
	--color-btn-bg-hover:#903A18;
	--padding-btn-primary: 13px 29px;
	--padding-btn-secondary: 17px 40px;
	--color-border-line-primary: #D9D9D9;
	--color-border-line-secondary: #E2E2E2;
	--color-border-line-hover: #BC4B20;
	--color-bottom-border-line: #D9D9D9;
	--color-bg-primary: #F7EFEC;
	--color-bg-secondary: #F2F1F6;
	--color-bg-tertiary: #EDF7F1;
	--border-radius-primary: 50px;
	--border-radius-secondary: 6px;
	--color-icon-primary: #BC4B20;
	--color-icon-secondary: #000000;
	--color-icon-secondary-hover: #BC4B20;
	--color-icon-socials-hover: #b4a089cc;
	--gap: 40px;

}

/* === GLOBAL TYPOGRAPHY  === */
body {
	font-family: var(--font-base);
	color: var(--color-text-primary);
	line-height: 1.5;
	background: #ffffff;
}
h1,h3,h4,h5 {
	font-family: var(--font-heading);
	font-weight: 400;
	line-height: 1.16;
}

h2,h6 {
	font-family: var(--font-heading);
	font-weight: 400;
	line-height: 1.8;
}

h1 {
	font-size: 50px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 29px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 22px;
}

p {
	color: var(--color-text-primary);
}

/* === Links === */
a {
	color: var(--color-link);
}

a.header {
	text-decoration: none;
}

/* === Images === */
img {
	max-width: 100%;
	border-radius: 10px;
}

/* === Icons === */

.logo {
	font-family: var(--font-heading);
	font-size: 33px;
	font-weight: 400;
	color: var(--color-logo);
	text-align: center;
}

.icon-header {
	width: 28px;
	height: 28px;
	color: var(--color-icon-primary);
	gap: 15px;
}

.icon-headerdropdown {
	width: 10px;
	height: 16px;
	gap: 8px;
	color: var(--color-icon-secondary);
}

.icon-headerdropdown:hover {
	color: var(--color-icon-secondary-hover);
}

.icon-mobilenavi {
	width: 26px;
	height: 40px;
	color: var(--color-icon-primary);
}

.icon-search {
	color: var(--color-icon-secondary);
	padding-left: 50px;
	padding-right: 15px;
	font-family: var(--font-base);
	font-size: var(--font-default-size);
	background-color: var(--color-bg-secondary);
}

.icon-usp {
	width: 25px;
	height: 25px;
	margin-left: 20px;
	color: var(--color-icon-primary)
}

.icon-shopdropdown {
	width: 10px;
	height: 16px;
	color: var(--color-icon-secondary);
	padding: 39px;
	gap: 1px;
}

.icon-shopdown {
	width: 24px;
	height: 24px;
	padding: 39px;
	gap: 6px;
	color: var(--color-icon-secondary);
}

.icon-gridview {
	width: 24px;
	height: 24px;
	color: var(--color-icon-secondary);
	padding: 39px;
	gap: 1px;
}

.icon-listview {
	width: 24px;
	height: 24px;
	color: var(--color-icon-secondary);
	padding: 39px;
}

.icon-arrowright {
	width: 10px;
	height: 10px;
	gap: 6px;
	color: var(--color-icon-secondary);
}

.icon-arrowright:hover {
	color: var(--color-icon-secondary-hover);
}

.icon-footersocial {
	width: 16px;
	height: 16px;
	color: var(--color-icon-secondary);
	margin: 10px;
}

.icon-footersocial:hover {
	color: var(--color-icon-socials-hover);
}

.icon-stars {
	width: 90px;
	height: 18px;
	margin: 5px, 0px;
	color: var(--color-icon-primary);	
}

/* === Buttons === */
.btn-default {
	display: inline-block;
	background: var(--color-btn-bg-primary);
	color: var(--color-text-secondary);
	border-radius: var(--border-radius-primary);
	cursor: pointer;
}

.btn-black {
	background-color: var(--color-btn-bg-tertiary);
	padding: var(--padding-btn-secondary);
	border-radius: var(--border-radius-primary);
	color: var(--color-text-secondary);
}

.btn-white {
	background-color: var(--color-btn-bg-secondary);
	color: var(--color-text-primary);
	padding: var(--padding-btn-primary);
	border-radius: var(--border-radius-primary);
}

.btn-default:hover {
	background-color: var(--color-btn-bg-hover);
}


/* === Layout === */
.row-flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
.column-two {
	width: calc(50% - calc(var(--gap) / 2));
}
.column-three {
	width: calc(33.33% - calc(var(--gap) * 2 / 3));
}
.column-four {
	width: calc(25% - calc(var(--gap) * 3 / 4));
}
.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.padding-default {
	padding: 20px;
}
.max-width {
	margin: 40px auto !important;
	max-width: 1080px;
}
.card {
	background-color: var(--color-bg-light);
	border-radius: var(--box-radius);
	padding: 40px;
	margin: 40px 20px;
}

/* === Form Elements === */
input[type="text"],
textarea {
	border: none;
	border-radius: var(--border-radius-primary);
	padding: 0px 16px;
	width: 100%;
	margin: 18px 0px;
	font-size: 16px;
	font-family: var(--font-base);
}
textarea {
	min-height: 100px;
	font-family: var(--font-base);
}
input[txype="text"]:focus,
textarea:focus {
	outline: none;
}
/* === Navigation Menu === */
#main-menu {
	margin: 20px;
	justify-content: center;
	flex-wrap: no-wrap;
}
.menu-item a {
	color: var(--color-menu-text);
	font-weight: normal;
}
.menu-item:hover a {
	font-weight: bold;
}
.menu-active a {
	color: var(--color-menu-active);
	font-weight: bold;
}

/* === Screen: Tablet  === */
@media only screen and (max-width: 1100px) {

	/* === Layout === */
	.column-two,
	.column-three {
		width: 100%;
	}
	.column-four {
		width: calc(50% - calc(var(--gap) / 2));
	}
	.card {
		padding: 30px;
	}
}

/* === Screen: Mobile  === */
@media only screen and (max-width: 600px) {
	/* === Layout === */
	.column-four {
		width: 100%;
	}

	/* === Navigation Menu === */
	#main-menu {
		flex-direction: column;
		text-align: center;
	}
}
