.row-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-intro {
    background-color: var(--color-bg-neutral);
    padding: 40px;
    text-align: center;
}

.column-row-img,
.bottom-column-card {
    position: relative;
}

.column-one-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius-img-default);
}

.bg-color {
    background-color: var(--color-bg-neutral);
}

.column-one-content,
.bottom-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-light);
    text-align: center;
}

.column-one-content p {
    padding: 10px;
}

.categories-section {
    max-width: 1200px;
}

.column-four-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
    border-radius: var(--border-radius-img-default);
    background-color: var(--color-bg-default);
}

.column-four-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 6px 6px 0px 0px;
}

.content-card {
    display: flex;
    flex-direction: column;
}

.column-two img {
    width: 100%;
    aspect-ratio: 1276 / 843;
    border-radius: var(--border-radius-img-default);
}

.content-card p,
.bottom-content p {
    padding: 20px;
}

.bottom-column-card img {
    width: 100%;
}

@media screen and (max-width:1100px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}