.banner-img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/about-pg-banner.jpg);
    z-index: 10;
    border-radius: var(--border-radius-img-default);
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.text-white {
    color: var(--color-text-light)
}

.column-one-img img,
.column-two img,
.column-four-content {
    border-radius: var(--border-radius-img-default);
}

.row-column {
    justify-content: center;
    align-items: center;
}

.about-intro,
.categories-section {
    background-color: var(--color-pink);
}

.about-intro {
    padding: 40px;
    text-align: center;
}

.purple-color {
    background-color: var(--color-purple);
}

.bg-color {
    background: url(../images/purple-bg-color.svg) no-repeat center / cover;
    bottom: 100px;
    min-height: 100px;
    z-index: 1;
}

.column-four-content img {
    aspect-ratio: 200/139;
}

.column-four-content {
    padding-bottom: 15px;
    overflow: hidden;
    background-color: var(--color-white);
    transition: transform 0.3s ease;
}

.column-four-content:hover {
    transform: scale(1.05);
}

.column-four-content img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 6px 6px 0 0;
}

.banner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/two-banner-2.jpg);
}

.column-one-content {
    text-align: center;
    z-index: 10;
}

@media screen and (max-width: 1100px) {
    .about-banner-title {
        font-size: 34px;
    }
}

@media screen and (max-width: 680px) {
    .full-w {
        width: 100%;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}