.form-title {
    margin-bottom: var(--margin-text);
}

.bg-img {
    background-image: var(--bg);
    min-height: 500px;
}

.blog-content,
.blog-post {
   width: 50%;
}

.blog-content {
    background-color: var(--color-pink);
    min-height: 400px;
}

.blog-content.right {
    right: 10%;
}

.blog-content.left {
    left: 10%;
}

.row-column {
    gap: 0px;
    margin-bottom: var(--margin-section);
}

.footer-subscribe .row-column{
    gap: var(--gap-10);
}

.related-post {
    gap: var(--gap-30);
}

.about-banner-card {
    margin-bottom: var(--margin-text);
}

.column-two {
    width: calc(33.33% - var(--gap-10));
}


@media only screen and (max-width: 1100px) { 

    .about-banner-card {
        font-size: 28px;
    }

    .blog-content,
    .blog-post {
        width: 100%;
    }

    .blog-content.right,
    .blog-content.left {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
