.categories-title {
    margin-left: var(--margin-text);
    margin-bottom: 0px;
}

.column-two .padding-section {
    padding-bottom: 0px;
}

@media screen and (max-width:680px) {

    .column-four {
        width: 100%
    }
}
