
.follow-us {
    background-color: var(--color-pink);
}

.user-pg {
    background-color: var(--color-green);
    padding: var(--margin-text);
}

.form-title {
    text-align: center;
    margin-bottom: var(--margin-text);
}

.user-content {
    gap: var(--gap-30);
}

.follow-us-top {
    margin-bottom: var(--margin-text);
}

.banner-section {
    background-color: var(--color-purple);
}

.same-height {
    height: 600px;
}

@media only screen and (max-width: 1100px) { 
    .img-block {
        display: none;
    }

    .column-four img {
        aspect-ratio: 2 / 3;
        object-fit: cover;
        height: 600px;
    }

    .column-four,
    .follow-sec {
        width: calc(50% - var(--gap-10));
    }

    .user-content {
        padding: var(--margin-text);
    }

    .about-banner-card {
        font-size: 24px;
    }

}

@media only screen and (max-width: 680px) {
    .col-2-content {
        margin-bottom: var(--margin-text);
    }
}

