.product-bg {
    background-color: var(--color-pink);
    min-height: 800px;
    padding: 30px;
}

.card-content {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 80px;
    background-color: var(--color-bg-form-element-light);
    border-radius: var(--border-radius-form-element);
}

.tab-menu {
    display: flex;
    align-items: flex-start;
    flex: 0 0 230px;
    width: 20%
}

.tab-btn {
    width: 100%;
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border-line);
    cursor: pointer;
}

.tab-btn.active,
.tab-btn:hover {
    color: var(--color-text-accent);
}

.tab-content {
    text-align: left;
    padding: 5%;
    width: 80%;
    background-color: var(--color-bg-stepper-mask);
    border: 1px solid var(--color-border-line);
}

.content-box {
    display: none;
}

.content-box.active {
    display: block;
}

.review-bg-color {
    width: 100%;
    padding: var(--padding-card);
    background-color: var(--color-purple);
}

.review-section {
    margin: 0px 30px;
    padding: 90px;
    background-color: var(--color-bg-form-element-light);
    border-radius: var(--border-radius-img-card);
}

.productpg-socials {
    margin: auto;
}

.product-controls,
.customerreview-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price,
.categories-no,
.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-10)
}

@media screen and (max-width: 1100px) {
    .tab-menu {
        width: 10%
    }

    .tab-content {
        text-align: left;
        padding: 5%;
        width: 90%;
        background-color: var(--color-bg-stepper-mask);
        border: 1px solid var(--color-border-line);
    }
}


@media screen and (max-width: 680px) {
    .tab-menu {
        width: 100%;
        flex: none;
    }

    .tab-content {
        width: 100%;
    }
}