.row-column {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-img1 {
    background-image: url(../images/decoration.jpg);
}

.card-img2 {
    background-image: url(../images/cactus.jpg);
}

.card-img3 {
    background-image: url(../images/jewelries.jpg);
}

.bg-img {
    width: 100%;
    height: 100%;
}

.bg-card-1 {
    background-color: var(--color-green-alpha);
}

.bg-card-2 {
    background-color: var(--color-purple-alpha);
}

.bg-card-3 {
    background-color: var(--color-pink-alpha);
}

.img-border {
    border-radius: var(--border-radius-img-default);
}

.bg-card {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 0px;
    border-radius: 0 0 6px 6px;
    color: var(--color-text-default);
}

.column-info {
    text-align: center;
}

.usp-section {
    border-bottom: 1px solid var(--color-border-line);
    padding-bottom: 20px;
}

.margin-content {
    margin-bottom: var(--margin-text);
}

.banner-img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/home-banner-indoor.jpg);
    max-height: 600px;
    background-position: center bottom;
}

.text-white {
    color: var(--color-text-light)
}

.img-card img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
}

.column-six {
    transition: 0.3s ease;
}

.column-six:hover {
    transform: scale(1.05);
}

.column-six-card {
    bottom: 100px;
    margin: 0;
}

.green-bg {
    background: url("../images/green-bg.svg");
    min-height: 50px;
}

.bg-light-green {
    background-color: var(--color-green);
    padding: 50px;
}

.banner-img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/two-banner-1.jpg);
    max-height: 100%;
}

.banner-img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/two-banner-2.jpg);
    max-height: 100%;
}

.p-10 {
    padding: 10%
}


@media screen and (max-width: 1100px) {
    .disappear {
        display: none;
    }

    .card.relative {
        width: 48%;
        aspect-ratio: 4/3;
    }
}

@media screen and (max-width: 680px) {

    .card-img1,
    .card-img2,
    .card-img3 {
        display: none;
    }

    .disappear {
        display: block;
    }

    .card.relative {
        width: 100%;
        aspect-ratio: auto;
    }

    .absolute.bg-card {
        position: static;
    }

    .bg-card {
        border-radius: var(--border-radius-img-default);
    }

}