.row-column {
    display: flex;
    justify-content: center;
}

.column-three,
.column-six,
.column-one,
.column-two,
.first-card {
    display: flex;
    flex-direction: column;
}

.column-two {
    min-width: 600px;
}

.column-three,
.column-six,
.column-one,
.column-two,
.column-info,
.column-one-content {
    text-align: center;
}

.column-one-content {
    padding: 10%
}

.first-card {
    position: relative;
    margin-bottom: 20px;
}

.column-two,
.column-three img,
.column-two img {
    border-radius: var(--border-radius-img-default);
}

.column-three img,
.column-one img,
.column-six-img img {
    width: 100%;
}

.column-three img {
    height: auto;
}

.column-one img {
    height: 500px;
    object-fit: cover;
}

.column-six-img img {
    height: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: var(--border-radius-circle);
}

.bg-card,
.column-one-content,
.column-two-content {
    position: absolute;
    color: var(--color-text-light);
}

.bg-card {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    border-radius: 0 0 6px 6px;
    color: var(--color-text-default);
}

.column-one-content,
.column-two-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-one-content p {
    padding: 20px;
}

.column-two-content {
    padding: 10%;
}

.column-two-content p,
.article-sub {
    padding: 10px;
}

.column-six {
    transition: 0.3s ease;
}

.column-six:hover {
    transform: scale(1.05);
}

.bg-card-1,
.column-six-card {
    background-color: var(--color-bg-accent);
}

.bg-card-2 {
    background-color: var(--color-bg-neutral);
}

.bg-card-3 {
    background-color: var(--color-bg-brand);
}

.usp-section {
    margin: 20px;
    padding: 20px 30px;
}

.column-info {
    margin: 25px;
    padding: 25px;
    border-top: 1px solid var(--color-border-line);
}

.column-info p {
    padding: 30px;
}

.column-six-card {
    width: 100%;
    position: relative;
    margin: 0;
    height: 450px;
}

.green-bg {
    width: 100%;
    background: url("../images/green-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    min-height: 50px;
    bottom: 50px;
}

.column-three-title {
    margin-left: 30px;
    padding-left: 30px;
}

.second-column-three img {
    padding-bottom: 20px;
}

@media screen and (max-width: 1100px) {
    .disappear {
        display: none;
    }

    .column-six-img img {
        width: 150px;
        height: 150px;
    }

    .column-six-card {
        height: auto;

    }

    .column-two-content h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 680px) {
    .first-card img {
        display: none;
    }

    .bg-card {
        position: static;
        border-radius: var(--border-radius-img-default);
    }

    .disappear {
        display: block;
    }

    .column-six-card {
        height: auto;
    }

    .column-six-img img {
        height: 160px;
    }
}