.banner-bg-img {
    width: 100%;
    min-height: 500px;
    background: url(../images/home-banner-indoor.jpg) center / cover no-repeat;
}

.column-content,
.orange-card {
    position: absolute;
    top: 35%;
}

.column-content {
    left: 50%;
    max-width: 40%;
    z-index: 2;
    text-align: left;
    color: var(--color-text-light);
}

.orange-card {
    width: 40%;
    padding: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-light);
    background-color: var(--color-bg-form-element-plant);
    border-radius: var(--border-radius-form-element);
}

.product-content {
    margin-bottom: 10%;
}

.product-title-plant,
.sub-content,
.categories-no,
.categories-social,
.article-content,
.card-img {
    display: flex;
}

.product-title-plant,
.sub-content {
    margin: 20px 0;
}

.sub-content {
    align-items: center;
    padding: 20px;
}

.content {
    margin-right: 20%;
    padding: 20px 0;
}

.homepage-sub {
    width: 100%;
    padding: 20px;
}

.top-part {
    border-bottom: 1px solid var(--color-border-line);
}

.sub-content,
.bottom-part {
    border-top: 1px solid var(--color-border-line);
}

.tab-content {
    width: 100%;
}

.tab-btn {
    width: 50%;
    display: flex;
    cursor: pointer;
}

.tab-btn.active img {
    border: 8px solid var(--color-bg-form-element-light);
}

.content-box {
    display: none;
}

.content-box.active {
    display: block;
}

.column-two img,
.column-four img,
.card-img img {
    width: 100%;
    display: flex;
}

.column-two img {
    border-radius: var(--border-radius-img-default);
}

.column-four img,
.card-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-img img {
    border-radius: var(--border-radius-img-card);
}

.card-img {
    width: 100%
}

.column-two {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}

.categories-no {
    gap: var(--gap-10);
}

.categories-social {
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.product-pg-subtitle {
    margin-right: auto;
    padding: 10% 0 20px;
}

.article-btn {
    margin-right: auto;
}

.btn-dark {
    width: 100%;
    margin-top: 20px;
}

.bg-color {
    width: 100%;
    position: relative;
    top: 60%;
    z-index: 1;
    margin-top: -100px;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-brand);
}

.review-bg-color {
    width: 100%;
    padding: 20px;
    background-color: var(--color-bg-neutral);
}

.review-section {
    margin: 3% 5%;
    padding: 20px;
    background-color: var(--color-bg-form-element-light);
    border-radius: var(--border-radius-img-card);
}

@media screen and (max-width: 1100px) {

    .column-content,
    .orange-card {
        top: 30%;
    }
}

@media screen and (max-width: 680px) {
    .categories-social {
        flex-direction: column;
        align-items: normal;
    }

    .categories-no {
        padding-left: 20px;
    }

    .column-content {
        top: 30%;
        left: 5%;
        max-width: 90%;
        text-align: center;
    }

    .orange-card {
        top: 80%;
        left: 5%;
        width: 90%;
        padding: 5%;
        height: auto;
    }

    .orange-card .row-column.tab-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
    }

    .bg-color {
        top: 0;
        width: 100%;
        padding-top: 95%;
    }
}