.banner-bg-img {
    width: 100%;
    min-height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/home-banner-indoor.jpg) center / cover no-repeat;
    display: flex;
}

.column-content {
    width: calc(60% - var(--gap-20));
    z-index: 2;
    text-align: left;
    color: var(--color-text-light);
}

.orange-card {
    flex-direction: column;
    width: 35%;
    padding: 60px 40px;
    z-index: 3;
    color: var(--color-text-light);
    background-color: var(--color-bg-form-element-plant);
    border-radius: var(--border-radius-form-element);
    left: 0;
    bottom: -50px;
}

.top-part {
    border-bottom: 1px solid var(--color-border-line);
    width: 100%;
    padding: 10px
}

.sub-content {
    display: flex;
    gap: var(--gap-30);
    width: 100%;
    border-top: 1px solid var(--color-border-line);
    padding: 20px 0px;
}

.tab-menu {
    display: flex;
    justify-content: center;
    gap: var(--gap-30);
}

.tab-content {
    width: 100%;
    border-top: 1px solid var(--color-border-line);
    padding-top: 30px
}

.tab-btn {
    width: 30%;
    display: flex;
    cursor: pointer;
}

.tab-btn.active img {
    border: 8px solid var(--color-bg-form-element-light);
}

.content-box {
    display: none;
}

.content-box.active {
    display: block;
}

.column-two img {
    border-radius: var(--border-radius-img-default);
}

.card-img img {
    aspect-ratio: 69/48;
    object-fit: cover;
    border-radius: var(--border-radius-img-default);
}

.categories-no {
    display: flex;
    gap: var(--gap-10)
}

.article-btn {
    margin-right: auto;
}

.btn-dark {
    width: 100%;
    margin-top: 20px;
}

.bg-color {
    width: 100%;
    z-index: 1;
    padding-top: 10%;
    padding-bottom: 5%;
    background-color: var(--color-pink);
}

.review-bg-color {
    width: 100%;
    padding: var(--padding-card);
    background-color: var(--color-purple);
}

.review-section {
    margin: 0px 30px;
    padding: 60px;
    background-color: var(--color-bg-form-element-light);
    border-radius: var(--border-radius-img-card);
}

.customerreview-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-four img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.rating-option.row-column {
    flex-wrap: nowrap;
}


@media screen and (max-width: 1100px) {}

@media screen and (max-width: 680px) {
    .column-content {
        height: auto;
        width: 100%;
        margin-left: -80vw;
        position: relative;
        bottom: 130px;
    }

    .orange-card {
        bottom: -300px;
        height: auto;
        width: 80vw;
    }

    .orange-card .row-column.tab-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
    }

    .bg-color {
        top: 0;
        width: 100%;
        padding-top: 50%;
    }

    .customerreview-sub {
        flex-direction: column;
    }
}