.category-section {
    background-color: var( --color-pink);
    border-radius: var(--border-radius-img-default);
    margin-bottom: 30px;
}

.shop-subtext {
    padding-top: 20px;
    border-top: 1px solid var(--color-border-line);
}


@media only screen and (max-width: 1100px) { 
    .category-image-block {
        display: none;
    }

    .column-three {
         width: calc(50% - var(--gap-10));
    }
}

@media only screen and (max-width: 680px) {
    .category-section {
        flex-direction: column;
        gap: 0px;
    }

    .column-three {
        width: 100%;
    }

    .category-image {
        aspect-ratio: auto;
    }

    .reverse {
        order: -1;
    }

    .column-four {
        width: 100%;
    }
}