.category-section {
    background-color: var( --color-pink);
    border-radius: var(--border-radius-img-default);
    margin-bottom: 30px;
}

.shop-subtext {
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid var(--color-border-line);
}

.column-four {
    display: flex;
    flex-direction: column;
    gap: var(--gap-10);
}

@media only screen and (max-width: 1100px) { 
    .category-image-block {
        display: none;
    }

    .column-three {
         width: calc(50% - var(--gap-10));
    }

    .column-four {
        width: calc(33.33% - var(--gap-10));
    }

}

@media only screen and (max-width: 680px) {
    .category-section {
        flex-direction: column;
        gap: 0px;
    }

    .column-three {
        width: 100%;
        padding-top: 0px;
    }

    .column-four {
        width: calc(50% - var(--gap-10));
    }
}