.btn {
    display: inline-flex;
    font-size: 14px;
    text-align: center;
    background-color: var(--color-btn-bg-default);
    padding: var(--btn-default-padding);
    border-radius: var(--border-radius-btn);
    cursor: pointer;


    /* spacing use */
    margin-bottom: 10px;
}

.btn-light {
    background-color: var(--btn-bg-light);
}

.btn-light a {
    color: var(--color-text-default);
}

.btn-defualt a,
.btn-full-width a,
.btn-dark a {
    color: var(--btn-text);
}

.btn a {
    text-decoration: none;
}

.btn-full-width,
.btn-dark {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: var(--btn-full-width-padding);
}

.btn-dark {
    background-color: var(--color-btn-bg-dark);
}

.btndefault:hover,
.btn-full-width:hover,
.btn-light:hover {
    background-color: var(--color-btn-bg-hover);
}