body {
	font-family: var(--font-base);
    font-weight: var(--font-default-weight);
    font-size: var( --font-default-size);
    line-height: var(--font-base-line-height);
	color: var(--color-text-default);
}

/* Domine */
h1,
h2,
h3 {
    line-height: var(--font-heading-line-height);
    font-weight: var(--font-default-weight);
    /* background-color:  #f2f1f6;  background for white text */
}

.domine {
    font-family: var(--font-heading-serif);
}

.light {
    color: var(--color-text-light);
}

.accent {
    color: var(--color-text-accent);   
}

.bold {
    font-weight: var(--font-weight-bold);
}

/* h1 - Domine */
.about-banner-title {
    font-size: 49px;
}
    
.product-title-candle {
    font-size: 47px;
}

.logo-header {
    font-size: 33px;
}

.about-banner-card {
    font-size: 32px;
}

.form-title {
    font-size: 23px;
}

/* h2 - Domine */
.home-banner-title {
    font-size: 50px;
}

.promo-banner-title {
    font-size: 36px;
}

.story-title {
    font-size: 32px;
}

.subscribe-title {
    font-size: 29px;
}

.logo-footer {
    color: var(--color-text-accent);
    font-size: 28px;
}

.categories-title {
    font-size: 24px;
}

.footer-title {
    font-size: 20px;
    /* color: var(--color-text-light); 
    color: var(--color-text-accent); */
}

.usp-title {
    font-size: 19px;
}

/* h3 - Domine */
.home-sec-title {
    font-size: 22px;
}

.article-product-title {
    font-size: 21px;
}

/* h1 - Inter */
.product-title-plant {
    font-size: 59px;
}

.page-intro {
    font-size: 30px;
}

/* h3 - Inter */
.add-review {
    font-size: 20px;
}
.popular-card-sub {
    font-size: 16px;
}
 
/* body/p - Inter */
.article-sub {
    font-size: 16px;
}

.homepage-sub {
    font-size: 15px;
}

.categories-sub {
    font-size: 14px;
     /*color: var(--color-text-accent); */
}

.ui-text {
    font-size: 13px;
    /*color: var(--color-text-light); */
}

/* === Screen: Mobile  === */
@media only screen and (max-width: 680px) {

    .logo-header {
        font-size: 20px;
    }

    .about-banner-title {
        font-size: 34px;
    }
    .home-banner-title {
        font-size: 38px;
    }

    .promo-banner-title {
        font-size: 28px;
    }

    .product-title-plant {
        font-size: 40px;
    }

}

