.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 76.8px 0px;
}

div.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.search-container {
    width: 20%;
    margin: 0;
    justify-content: flex-start;
}

div.logo-header {
    width: 60%;
    text-align: center;
}

.logo {
    display: flex;
}

.icon {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    color: var(--color-icon);
}

.account {
    margin-right: 5px;
}

.cart {
    margin-left: 5px;
}

.bottomheader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    margin-top: 22px;
    border-top: 1px solid var(--color-border-line);
}

.navigationmenu {
    display: flex;
    margin-top: 22px;
}

.navigationmenu a {
    font-size: 16px;
    color: var(--color-text-default);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 20px;
}

.dropdown-section {
    background-color: white;
    padding: 14px 0px;
}

.dropdown .product {
    position: relative;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--color-text-default);
    padding: 14px 16px;
    margin: 0;
}

.navigationmenu a:hover,
.dropdown:hover .dropdown-section {
    color: var(--color-text-accent);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-bg-default);
    z-index: 1;
    margin-top: 15px;
}

.dropdown-content a {
    color: var(--color-text-default);
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    background-color: var(--color-bg-submenu);
    color: var(--color-text-light);
}

.dropdown-section:hover .dropdown-content {
    display: block;
}

/* === Screen: Mobile  === */
@media only screen and (max-width: 680px) {
    .account {
        display: none;
    }

    .bottomheader {
        display: none;
    }
}