/* USP Section */
.usp-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.usp-content {
    display: flex;
}

.usp-head {
    display: flex;
    gap: 10px;
}

.usp-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.usp-title:hover {
    color: var(--color-text-accent)
}

@media only screen and (max-width: 1100px) {
    .usp-section {
        flex-wrap: wrap;
        gap: 30px; 
    }

    .usp-content{
        width: calc(50% - 15px);
        justify-content: center;
    }

    .usp-head {
        flex-direction: column;
        align-items: center;
    }

    .usp-body {
        align-items: center;
    }
}

@media only screen and (max-width: 680px) {
    .usp-content {
        width: 100%;
        gap: 30px;
    }
}