.row-column {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-10);
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-color {
    background-color: antiquewhite;
}

.max-width {
    margin: 40px;
}

.padding-default {
    padding: 20px;
}

.column-one {
    width: 100%;
    margin: auto;
}

.column-two {
    width: calc(50% - calc(var(--gap-10) / 2));
}

.column-three {
    width: calc(33.33% - calc(var(--gap-10) * 2/3));
}

.column-four {
    width: calc(25% - calc(var(--gap-10)*3/4));
}

.column-six {
    width: calc(16.66% - calc(var(--gap-10)* 5/6));
}

.card {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1100px) {

    .column-two {
        width: 100%;
    }

    .column-three {
        width: calc(50% - calc(var(--gap-10) / 2));
    }

    .disappear {
        display: none;
    }

    .row-column-two {
        width: calc(50% - calc(var(--gap-10) / 2));
    }
}

@media screen and (max-width:680px) {
    .column-three {
        width: 100%
    }

    .disappear {
        display: block;
    }

    .column-six {
        width: calc(33.33% - calc(var(--gap-10)* 2/3));
    }
}