a {
	text-decoration: none;
    color: var(--btn-text);
}

.link-dark,
.link-static,
.link-light {
    color: var(--color-text-default);
}

.text-link {
    color: var(--color-link);
    text-decoration: underline;
}

.link-accent {
    color: var(--color-link);
    text-decoration: none;
}

.link-dark:hover {
    color: var(--color-link);
}

.link-light:hover {
    color: var(--btn-text);
}





