a {
	text-decoration: none;
    color: var(--btn-text)
}

.link-dark,
.link-static {
    color: var(--color-text-default);
}

.text-link {
    color: var(--color-link);
    text-decoration: underline;
}

.link-dark:hover {
    color: var(--color-link);
}



