.main-header {
    display: flex;
    flex-direction: column;
    padding: 25px 60px 0px;
}

.header-row {
    display: flex;
}

.top-header {
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 1001;
    color: var(--color-icon);
}

div.search-container {
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.logo-header {
    width: 60%;
    text-align: center;
}

.header-icon {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-10);
    color: var(--color-icon);
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-header {
    justify-content: center;
    padding-bottom: 24px;
    margin-top: 22px;
    border-top: 1px solid var(--color-border-line);
}

div.mobile-search {
    display: none;
}

.navigation-menu {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.menu-item a,
.dropdown a {
    font-size: 16px;
    color: var(--color-text-default);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    width: 100%;
}

.menu-item a:hover,
.dropdown:hover .dropdown a {
    color: var(--color-text-accent);
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: var(--color-bg-default);
    border-radius: var(--border-radius-img-default);
    box-shadow: 0 0 4px var(--color-box-shadow);
}

.dropdown-content a {
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: var(--color-bg-submenu);
    color: var(--color-text-light);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Footer */
.main-footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
}

.footer-content {
    display: flex;
    margin: 20px;
    gap: var(--gap-30);
}

.footer-avada {
    width: 33%;
}

.footer-avada,
.popular-products,
.featured-products {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
}

.popular-products,
.featured-products {
    width: 50%;
}

.footer-prodsection {
    display: flex;
    width: 66%;
    gap: var(--gap-30);
}

.footer-prodcontent {
    display: flex;
}

.footer-product,
.footer-prodimg {
    width: 50%;
}

.footer-prodimg {
    display: flex;
    justify-content: right;
}

.footer-bottom {
    background-color: var(--color-btn-bg-default);
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .main-header {
        padding: 25px;
    }

    .menu-toggle,
    .basket {
        width: 20%;
        display: block;
    }

    div.search-container,
    .account {
        display: none;
    }

    div.mobile-search {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }

    .navigation-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-bg-default);
        position: absolute;
        bottom: 100%;
        left: 0;
        transition: all 0.2s ease;
        z-index: 1000;
    }

    .navigation-menu.active {
        bottom: 0;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        box-shadow: none;
    }

    .dropdown-content a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
    }

    .dropdown-content a:hover,
    .menu a:hover {
        display: flex;
        align-items: flex-start;
        color: var(--color-text-light);
        background-color: var(--color-bg-submenu);
    }

    .bottom-header {
        border-top: none;
    }

    .footer-content {
        flex-direction: column;
    }

    .menu,
    div.mobile-search,
    .dropdown-content,
    .footer-avada,
    .footer-prodsection {
        width: 100%;
    }

    .footer-avada {
        align-items: center;
        text-align: center;
    }
}