input[type="text"],
input[type="email"],
input[type="url"],
textarea {                
    outline: none;  
	background-color: var(--color-bg-form-element-light);               
    color: var(--color-text-default);
	border-radius: var(--border-radius-img-default);
	border: 1px solid var(--color-border-line);
}

input[type="text"],
input[type="email"],
input[type="url"] {
    display: inline-flex; 
    padding: 16px 16px;
}

textarea {
    padding: 12px 15px;
}

button[type="submit"] {
    margin: 0px;
    border: none;
    color: var(--btn-text);
}

.contact-form input:hover,
.review-form input:focus,
.review-form textarea:focus,
.contact-form input:focus,
.form-comment textarea:focus,
.form-comment textarea:hover {
    border-color: var(--color-border-line-hover);
}

.subscribe-form input:hover {
    border: 1px solid var(--color-border-line-hover);
}


/* Search bar */
.search-container {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-form-element);
    border-radius: var(--border-radius-form-element);
    margin: 20px;
   }

.search-container img {
    margin-left: 15px; 
}

.search-container input {
    background-color: transparent;
    margin-bottom: 0;  
}

.search-container input,
.subscribe-form input {
   border: none                         
}

/* Footer - subscribe */
.footer-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--gap-30);
    background-image: url('../../images/footer-bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-img-default);
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.subscribe-form {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.subscribe-form input {
    border-radius: var(--border-radius-btn);
    width: 33%;                            
}

.subscribe-form button {
    width: 25%;
}

/* Customer Review */
.review-section {
    margin: 20px;
}

.review-head {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
}

.review-container {
    display: flex;
}

.user-date {
    display: flex;
    justify-content: space-between;
}

.review {
    margin-left: 20px;
    padding: 15px;
    border: 2px solid var(--color-border-line);
    border-radius: var(--border-radius-form-element);
}

.add-review {
    margin-bottom: 20px;
}

.review-form {
    display:flex;
    flex-direction: column;
    gap: var(--gap-10);
}

.checkbox-grp {
    margin: 10px 0px;
}

/* Star rating */
.rating-option {
    display: flex;
    gap: var(--gap-10);
    margin: 20px 0px;
}

.star-option {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-30);
    padding: 9px;
    background-color: var(--color-bg-form-element);
    border-radius: var(--border-radius-form-element);
    width: calc(20% - 8px);
    cursor: pointer;
}

.star-option:hover {
    background-color: var(--color-rating-options-bg-hover);
    color: var(--color-text-accent);
}

.rating-option input[type="radio"]:checked + .star-option {
    background-color: var(--color-rating-options-bg-hover);
}

/* Content page - form */
.contact-section {
    display:flex;
    justify-content: space-between;
    margin: 20px;
}

.contact-img {
    display: flex;
    width: 35%;
    margin: 0px 30px;
}

.contact-img img{
    width: 100%;
    border-radius: var(--border-radius-img-default);
    object-fit: cover;
    aspect-ratio: 4 / 5;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
    width: 55%;
}

.form-comment {
    display: flex;
    flex-direction: column;
    gap: var(--gap-10);
}

.form-input {
    display: flex;
    gap: var(--gap-10);
    margin-bottom: 20px;
}

.form-input input {
    width: calc(33.33% - 6.66px);
}
