@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading-serif: "Domine", serif;
    --font-heading-san-serif: "Inter", sans-serif;
    --font-heading-line-height: 1.16;
	--font-base: "Inter", sans-serif;
    --font-base-line-height: 1.5;
	--font-default-size: 18px;
    --font-default-weight: 400;
    --font-weight-bold: 600;
    
}