@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading-serif: "Domine", serif;
    --font-heading-line-height: 1.16;
    --font-base: "Inter", sans-serif;
    --font-base-line-height: 1.5;
    --font-default-size: 18px;
    --font-default-weight: 400;
    --font-weight-bold: 700;

    /*color*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-brown: #BC4B20;
    --color-mid-brown: #903A18;
    --color-dark-brown: #7A3115;
    --color-light-gray: #F6F6F6;
    --color-dark-gray: #E2E2E2;
    --color-purple: #f2f1f6;
    --color-green: #EDF7F1;
    --color-pink: #f7efec;
    --color-light-yellow: #C3B3A1;

    /*Alpha color*/
    --color-purple-alpha: #f2f1f6ef;
    --color-green-alpha: #EDF7F1ef;
    --color-pink-alpha: #f7efecef;
    --color-black-alpha: rgba(0, 0, 0, .075);
    --color-mid-black-alpha: rgba(0, 0, 0, 0.2);

    /* card*/
    --color-bg-purple: var(--color-purple-alpha);
    --color-bg-green: var(--color-green-alpha);
    --color-bg-pink: var(--color-pink-alpha);
    --color-bg-stepper-plant: var(--color-mid-brown);
    --color-bg-stepper-mask: var(--color-white);
    --color-disclaimer-bg: var(--color-light-brown);
    --color-bg-column-four: var(--color-white);
    --padding-card: 20px;
    --padding-content: 40px;
    --margin-content: 50px;

    /*label color*/
    --color-discount-bg: var(--color-light-brown);

    /*submenu color*/
    --color-bg-submenu: var(--color-light-brown);

    /*form color*/
    --color-bg-form-element: var(--color-light-gray);
    --color-bg-form-element-light: var(--color-white);
    --color-bg-form-element-plant: var(--color-light-brown);

    /*button*/
    --color-btn-bg-default: var(--color-light-brown);
    --color-btn-bg-light: var(--color-white);
    --color-btn-bg-dark: var(--color-black);
    --color-btn-bg-hover: var(--color-mid-brown);
    --btn-text: var(--color-white);

    /* form-element */
    --color-bg-quantity-masks: var(--color-light-gray);
    --color-bg-stepper-plant-hover: var(--color-dark-brown);
    --color-rating-options-bg-hover: var(--color-black-alpha);

    /*text*/
    --color-text-default: var(--color-black);
    --color-text-accent: var(--color-light-brown);
    --color-text-light: var(--color-white);
    --margin-text: 20px;

    /*logo color*/
    --color-logo: var(--color-light-brown);

    /*icon color*/
    --color-icon: var(--color-light-brown);
    --coloc-icon-socials: var(--color-black);
    --color-icon-socials-hover: var(--color-light-yellow);

    /*link color*/
    --color-link: var(--color-light-brown);

    /*border line*/
    --color-border-line: var(--color-dark-gray);
    --color-border-line-focus: var(--color-light-brown);
    --color-border-line-hover: var(--color-light-brown);
    --color-border-line-stepper-plant: var(--color-light-brown);

    /*border-radius*/
    --border-radius-btn: 50px;
    --border-radius-img-card: 12px;
    --border-radius-img-default: 6px;
    --border-radius-form-element: 4px;
    --border-radius-circle: 50%;

    /*btn padding*/
    --btn-default-padding: 13px 29px;
    --btn-full-width-padding: 17px 40px;

    /*Layout */
    --gap-10: 10px;
    --gap-20: 20px;
    --gap-30: 30px;
    --padding-selection: 30px 60px;

    /*shadow*/
    --color-box-shadow: rgba(0, 0, 0, 0.2);
}